{%extends 'Volunteer/Volunteerbase.html'%} {%load static%} {%block contents%}
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="full slider_cont_section">
          <p class="large">Hi, {{request.session.loggeduser}}</p>
        </div>
        <!-- <div class="container" style="padding-left: 100px; align-items: center"> -->
        <center>
          <form action="{% url 'familyDetails' %}" method="POST">
            {% csrf_token %}
            <input
              style="height: 35px; width: 50%"
              type="number"
              min="6000000000"
              max="9999999999"
              placeholder="enter mobile no"
              name="mobileNo"
              required
            />
            <input type="submit" value="get Details" />
          </form>
          <label>or</label>
          <form action="{% url 'familyDetails' %}" method="POST">
            {% csrf_token %}
            <input
              style="height: 35px; width: 50%"
              type="number"
              minlength="12"
              maxlength="12"
              placeholder="enter Aadhar No"
              name="aadharNo"
              required
            />
            <input type="submit" value="get Details" />
          </form>
          <label>or</label>
          <form action="{% url 'familyDetails' %}" method="POST">
            {% csrf_token %}
            <input
              style="height: 35px; width: 50%"
              type="text"
              placeholder="enter Ration no"
              name="rationNo"
              required
            />
            <input type="submit" value="get Details" />
          </form>
          <div style="color: red; font-weight: bold; padding-top: 20px">
            {{msg}}
          </div>
        </center>
        <!-- </div> -->
      </div>
      <div class="col-md-7">
        <div id="slider_main" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{%static 'images/navaratnalu.png'%}" alt="#" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}
